body {
    width: 480px;
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
}

div {
    float: left;
}

#one {
    height: 75px;
    width: 480px;
    background-color: rgb(215, 245, 215);
}

#two {
    height: 150px;
    width: 480px;
    background-color: rgb(253, 232, 236);
}

#three {
    height: 125px;
    width: 480px;
    background-color: rgb(185, 230, 227);
}

#four {
    height: 125px;
    width: 480px;
    background-color: rgb(250, 250, 221);
}

#five {
    height: 250px;
    width: 240px;
    background-color: lightcyan;
}

#six {
    height: 250px;
    width: 240px;
    background-color: rgb(190, 207, 218);
}

#seven {
    height: 250px;
    width: 240px;
    background-color: rgb(143, 167, 159);
}

#eight {
    height: 250px;
    width: 240px;
    background-color: rgb(247, 231, 230);
}

#nine {
    height: 80px;
    width: 480px;
    background-color: rgb(233, 248, 247);
}

@media (min-width: 768px){
    body{
        width: 960px;
        margin-top: 10vh;
        margin-left: 20vh;
        

    }

    div{
        float: left;
    }

    #one {
        height: 100px;
        width: 960px;
    }

    #two {
        height: 600px;
        width: 200px;

    }

    #three {
        height: 200px;
        width: 380px;
    }

    #four {
        height: 200px;
        width: 380px;
    }

    #five {
        height: 250px;
        width: 190px;
    }

    #six {
        height: 250px;
        width: 190px;
    }

    #seven {
        height: 250px;
        width: 190px;
    }

    #eight {
        height: 250px;
        width: 190px;
    }

    #nine {
        height: 150px;
        width: 760px;
    }
}
